# Text Mining: Introduction

In [1]:
txt1 = ' This is a sample Text for some reasons. '
print('Lenght txt1: ', len(txt1))               # Number of characters

txt2 = txt1.split(' ')
print('Lenght txt2: ', len(txt2))               # Number of words

print('Cleaned text: ', txt1.strip())           # Remove extra spaces (t.rstrip() for remove end spaces)

print('First s: ', txt1.find('s'))              # Find the first 's'

print('Last s: ', txt1.rfind('s'))              # Find the last 's'

print('Replaced T/t: ', txt1.replace('T','t'))  # Replace 'T' with 't'

Lenght txt1:  41
Lenght txt2:  10
Cleaned text:  This is a sample Text for some reasons.
First s:  4
Last s:  38
Replaced T/t:   this is a sample text for some reasons.

In [2]:
x1 = [w for w in txt2 if len(w) > 3]          # Select long words
print('Long words: ',x1)

x2 = [w for w in txt2 if w.istitle()]         # Select capitalized words
print('Capitalized words: ',x2)
 
x3 = [w for w in txt2 if w.endswith('s')]     # Select words that end with s
print('End with s: ',x3)

Long words:  ['This', 'sample', 'Text', 'some', 'reasons.']
Capitalized words:  ['This', 'Text']
End with s:  ['This', 'is']

In [3]:
txt3 = 'To be or not to be'
txt4 = txt3.split(' ')
x4 = set([w.lower() for w in txt4])       # Select unique words (With handle To/to)
print('Unique words: ',x4)

Unique words:  {'be', 'to', 'not', 'or'}

In [4]:
txt5 = 'ouagadougou'
x5 = txt5.split('ou')                   # Split word with 'ou'
print('Splitted: ',x5)

x6 = 'ou'.join(x5)                      # Join 'ou' with splitted text
print('Joined: ',x6)

print('All characters: ', list(txt5))   # Same as [c for c in txt5]

Splitted:  ['', 'agad', 'g', '']
Joined:  ouagadougou
All characters:  ['o', 'u', 'a', 'g', 'a', 'd', 'o', 'u', 'g', 'o', 'u']

### Handle txt file

In [5]:
f = open('Reminder.txt', 'r')    # Open txt file for reading ('r' is reading mode, 'w' is for writing mode)

x7 = f.readline()         # Read line by line
print('First line: ',x7)
x7 = f.readline()
x7 = f.readline()
print('Third line: ',x7)

f.seek(0)                 # Reset Reading from start (f.seek(n): n is position of reset)

print('First 20 characters: ', f.read(20))      # Read by number of characters

f.seek(0)
x8 = f.read()             # Read whole file
print('Whole file: ', x8)
print('Whole characters: ', len(x8))

x9 = x8.splitlines()      # Split lines of txt file
print('Number of lines: ', len(x9))
x9[0]   # Returnes first line

First line:  Reminders

Third line:  1- Apply:

First 20 characters:  Reminders

1- Apply:
Whole file:  Reminders

1- Apply:

2- Learning: youtube projects, sharif NN

3- findjob: Update CV(95%) remain = (adjust About, Projects, ..),
            Active in Linkedin


0.5h
11:30
Whole characters:  174
Number of lines:  12

'Reminders'

In [6]:
f.close()      # Close the file
f.closed

True

## Regular Expressions

In [7]:
import re

In [8]:
txt = 'This is a sample twitt. #free #samples @ mynote , @Samples @Twitts'
txt = txt.split(' ')

tag = [w for w in txt if w.startswith('#')]
print('Hashtags: ', tag)

at = [w for w in txt if w.startswith('@')]
print('Callouts: ', at)

Hashtags:  ['#free', '#samples']
Callouts:  ['@', '@Samples', '@Twitts']

In [9]:
at = [w for w in txt if re.search('@[A-Za-z0-9_]+', w)]       # [A-Za-z0-9_] = \w  , + means it must occure at least one time
print('True callouts: ', at)

at = [w for w in txt if re.search('@\w{7}', w)]     # With at least 7 characters
print('Long callouts: ', at)

True callouts:  ['@Samples', '@Twitts']
Long callouts:  ['@Samples']

In [10]:
txt = 'sajelabi'
print(re.findall(r'[a-e]', txt))     # Print 'a' to 'e'
print(re.findall(r'[^a-e]', txt))    # Print not 'a' to 'e'

['a', 'e', 'a', 'b']
['s', 'j', 'l', 'i']

### Dates

In [11]:
dates = '17-11-2024 17/11/2024 17/11/24 11/17/2024'
re.findall(r'\d{2}[/-]\d{2}[/-]\d{2,4}', dates)

['17-11-2024', '17/11/2024', '17/11/24', '11/17/2024']

In [15]:
dates = '2 Nov 2024 23 November 2024 Nov 23, 2024 November 23, 2024'
re.findall(r'(?:\d{1,2} )?(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]* (?:\d{1,2}, )?\d{4}', dates)

['2 Nov 2024', '23 November 2024', 'Nov 23, 2024', 'November 23, 2024']

## Text Data in Pandas

In [16]:
import pandas as pd

In [18]:
time_sentences = ['Monday: The doctor appointment is at 2:45pm.', 'Tuesday: The dentist appointment is at 11:30 am.',
                  'Wednesday: At 7:00pm, there is a basketball game!', 'Thursday: Be back home by 11:15 pm at the latest',
                  'Friday: Take the train at 08:10 am, arrive at 09:00am.']

df = pd.DataFrame(time_sentences, columns=['Text'])
df

                                                Text
0       Monday: The doctor appointment is at 2:45pm.
1   Tuesday: The dentist appointment is at 11:30 am.
2  Wednesday: At 7:00pm, there is a basketball game!
3   Thursday: Be back home by 11:15 pm at the latest
4  Friday: Take the train at 08:10 am, arrive at ...

In [19]:
df['Text'].str.len()

0    44
1    48
2    49
3    48
4    54
Name: Text, dtype: int64

In [20]:
df.Text.str.split().str.len()

0     7
1     8
2     8
3    10
4    10
Name: Text, dtype: int64

In [21]:
df.Text.str.contains('appointment')        # Find text with (for example) appointment.

0     True
1     True
2    False
3    False
4    False
Name: Text, dtype: bool

In [22]:
df.Text.str.count(r'\d')       # Count all digits

0    3
1    4
2    3
3    4
4    8
Name: Text, dtype: int64

In [23]:
df.Text.str.findall(r'\d')         # Find all digits

0                   [2, 4, 5]
1                [1, 1, 3, 0]
2                   [7, 0, 0]
3                [1, 1, 1, 5]
4    [0, 8, 1, 0, 0, 9, 0, 0]
Name: Text, dtype: object

In [25]:
df.Text.str.findall(r'(\d{1,2}):(\d{2})')         # Same as (\d?\d):(\d\d)

0               [(2, 45)]
1              [(11, 30)]
2               [(7, 00)]
3              [(11, 15)]
4    [(08, 10), (09, 00)]
Name: Text, dtype: object

In [83]:
df.Text.str.extract(r'(\d?\d):(\d\d)')

    0   1
0   2  45
1  11  30
2   7  00
3  11  15
4  08  10

In [84]:
df.Text.str.extractall(r'((\d?\d):(\d\d) ?([ap]m))')

                0   1   2   3
  match
0 0        2:45pm   2  45  pm
1 0      11:30 am  11  30  am
2 0        7:00pm   7  00  pm
3 0      11:15 pm  11  15  pm
4 0      08:10 am  08  10  am
  1       09:00am  09  00  am

In [85]:
df.Text.str.extractall(r'(?P<time>(?P<hour>\d?\d):(?P<minute>\d\d) ?(?P<period>[ap]m))')

             time hour minute period
  match
0 0        2:45pm    2     45     pm
1 0      11:30 am   11     30     am
2 0        7:00pm    7     00     pm
3 0      11:15 pm   11     15     pm
4 0      08:10 am   08     10     am
  1       09:00am   09     00     am